body {
  padding: 0;
  margin: 0;
  color: #333333;
  font-family: 'open-sans', sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
  background-color: #e4e7ea;
}

@font-face {
  font-family: 'open-sans';
  font-display: swap;
  src: url('./font/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'open-sans';
  font-display: swap;
  font-weight: 600;
  src: url('./font/OpenSans-SemiBold.ttf');
}

.title {
  margin: 20px 0px 10px 0px;
  font-weight: 600;
}

.flex {
  display: flex;
}

.richtext-override.rs-richtext {
  border-color: #ffffff;
  border-radius: 10px;
}

.richtext-override.rs-richtext:hover {
  border: 1px solid #c034c0;
}

.richtext-override.rs-richtext:hover .rs-toolbar {
  border-bottom: 1px solid #c034c0;
}

.richtext-override.rs-richtext:focus-within {
  border: 1px solid #c034c0;
}
.richtext-override.rs-richtext:focus-within .rs-toolbar {
  border-bottom: 1px solid #c034c0;
}

.richtext-override .rs-button:hover,
.richtext-override .rs-button:hover.rs-inactive {
  color: #c034c0;
}
.richtext-override .rs-button.rs-active {
  color: #c034c0;
}

.richtext-override .rs-toolbar {
  background-color: #333333;
  border-radius: 9px 9px 0px 0px;
  padding: 18px;
}

.richtext-override .rs-richtext-input {
  padding: 20px;
  font-size: 0.9rem;
  background-color: #333333;
  color: #ffffff;
  border-radius: 0px 0px 9px 9px;
}

.richtext-override .rs-button {
  color: #ffffff;
}

.richtext-override .rs-button.rs-inactive {
  color: #ffffff;
}

.richtext-override.rs-popper {
  background-color: #333333;
  border: 1px solid #c034c0;
  border-radius: 10px;
}

.richtext-override .rs-popper-arrow {
  background-color: #333333;
  border-right: 1px solid #c034c0;
  border-bottom: 1px solid #c034c0;
}
